@model ExamGenerator.Models.TaskModel

@{
    ViewBag.Title = "Dodawanie zadania";
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="@Url.Content("~/Multiple_chosen/chosen.jquery.js")" type="text/javascript"></script>
    <script>    $(".chzn-select").chosen(); </script>
}

<link href="@Url.Content("~/Multiple_chosen/chosen.css")" rel="stylesheet" type="text/css" />

<h1>@ViewBag.Title</h1>
<h2>@ViewBag.Message</h2>

@using (Html.BeginForm("Create", "Task", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Add task</legend>

        <div class="editor-label">Nazwa</div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name)
            <!--@@Html.ValidationMessageFor(model => model.Name)-->
        </div>

        <div class="editor-label">Treść zadania</div>
        <input type="file" name="file" />

        <div class="editor-label">Tagi</div>
        <div class="editor-field">
            @Html.ListBoxFor(x => x.TagIdList, (MultiSelectList)ViewBag.Tags, new { @class = "chzn-select", data_placeholder = "Wybierz tagi..." })
        </div><br>
        <p>
            <input type="submit" value="Utwórz" />
        </p>
</fieldset>
}

<div>
    @Html.ActionLink("Wróć do listy", "Index")
</div>



