@model List<ExamGenerator.Models.TaskModel>

@{
    ViewBag.Title = "Index";
}

@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            var deleteLinkObj;
            $('.delete-link').click(function () {
                deleteLinkObj = $(this);
                $('#delete-dialog').dialog('open');
                return false;
            });

            $('#delete-dialog').dialog({
                autoOpen: false, width: 400, resizable: false, modal: true,
                buttons: {
                    "Usuń": function () {
                        $.post(deleteLinkObj[0].href, function (data) {
                            if (data == '@Boolean.TrueString') {
                                deleteLinkObj.closest("ul").hide('fast');
                            }
                            else {
                                //(opcjonalnie) wyswietl blad
                            }
                        });
                        $(this).dialog("close"); //
                    },
                    "Anuluj": function () {
                        $(this).dialog("close");
                    }
                }
            });
        });
    </script>
}




<hgroup class="title">
    <h1>Dostępne zadania</h1>
</hgroup>

<span>@Html.ActionLink("Dodaj nowe zadanie", "Create", "Task", routeValues: null, htmlAttributes: new { id = "registerLink" })</span>

<div id="tables">
    <ul>
        <li>
            <ul class="tabelRows">
                <li>
                    <span class="topHeader">
                        <span class="columnName">Nazwa</span>
                        <span class="deleteOption">Usuń</span>
                        <span class="deleteOption">Edytuj</span>
                    </span>
                </li>
                @foreach (var task in Model)
                {                    
                    <li>
                        <ul>
                            <li>
                                <span class="columnName">@task.Name</span>
                                <span class="deleteOption"><a href="@Url.Action("Delete", "Task", new { id = task.Id })" class="delete-link"><img src="~/Images/Icons/delete.png" title="Usuń" class="icon" /></a></span>
                                <span class="deleteOption"><a href="@Url.Action("Edit", "Task",  new { id = task.Id })" class="no-bg-change"><img src="~/Images/Icons/edit.png" title="Edytuj" class="icon" /></a></span>                            
                            </li>
                            <li>
                                <span class="columnTagsInTags"><b>Powiązane tagi:</b> @task.Tags</span>
                            </li>
                        </ul>
                    </li>                    
                }
            </ul>
        </li>
    </ul>
</div>

<div id="delete-dialog" title="Usuwanie">
    <p>Jesteś pewien, że chcesz to usunąć?</p>
</div>