@model List<ExamGenerator.Models.TaskModel>

@{
    ViewBag.Title = "Index";
}

@section Scripts{
    @Scripts.Render("~/bundles/listScript")
}

<hgroup class="title">
    <h1>Dostępne zadania</h1>
</hgroup>

<span>@Html.ActionLink("Dodaj nowe zadanie", "Create", "Task", routeValues: null, htmlAttributes: new { id = "registerLink" })</span>

<div id="tables">
    <ul>
        <li>
            <ul class="tabelRows">
                <li>
                    <span class="topHeader">
                        <span class="columnName">Nazwa</span>
                        <span class="deleteOption">Usuń</span>
                    </span>
                </li>
                @foreach (var task in Model)
                {
                    <li>
                        <span class="columnName">@task.Name</span>
                        <span class="deleteOption">@Html.ActionLink("X", "DeleteExam", "Exam", new { id = task.Id }, new { @class = "delete-link" })</span>
                    </li>
                    <li>
                        <span class="columnTagsInTags"><b>Powiązane tagi:</b> @task.Tags</span>
                    </li>
                }
            </ul>
        </li>
    </ul>
</div>

<div id="delete-dialog" title="Usuwanie">
    <p>Jesteś pewien, że chcesz to usunąć?</p>
</div>