@model ExamGenerator.Models.LocalPasswordModel

<p>
    Nie masz lokalnego hasła do tej witryny. Dodaj lokalne
    hasło, aby logować się bez logowania zewnętrznego.
</p>

@using (Html.BeginForm("Manage", "Account")) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <fieldset>
        <legend>Formularz ustawiania hasła</legend>
        <ol>
            <li>
                @Html.LabelFor(m => m.NewPassword)
                @Html.PasswordFor(m => m.NewPassword)
            </li>
            <li>
                @Html.LabelFor(m => m.ConfirmPassword)
                @Html.PasswordFor(m => m.ConfirmPassword)
            </li>
        </ol>
        <input type="submit" value="Ustaw hasło" />
    </fieldset>
}
