@model List<ExamGenerator.Models.EXAMS>

@{
    ViewBag.Title = "Index";
}

@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            var deleteLinkObj;
            $('.delete-link').click(function () {
                deleteLinkObj = $(this);
                $('#delete-dialog').dialog('open');
                return false;
            });

            $('#delete-dialog').dialog({
                autoOpen: false, width: 400, resizable: false, modal: true,
                buttons: {
                    "Usuń": function () {
                        $.post(deleteLinkObj[0].href, function (data) {
                            if (data == '@Boolean.TrueString') {
                                deleteLinkObj.closest("ul").hide('fast');
                            }
                            else {
                                //(opcjonalnie) wyswietl blad
                            }
                        });
                        $(this).dialog("close"); //
                    },
                    "Anuluj": function () {
                        $(this).dialog("close");
                    }
                }
            });
        });
    </script>
}

<hgroup class="title">
    <h1>Dostępne egzaminy</h1>
</hgroup>

<div id="tables">
    <ul>
        <li>
            <span class="mainHeader">
                <span class="columnName">Nazwa</span>
                <span class="addOption"><button onclick="location.href = '@Url.Action("Generate")'">Generuj</button></span>            </span>
        </li>
        <li>
            <ul class="tabelRows">
                <li>
                    <span class="topHeader">
                        <span class="columnName">Nazwa</span>
                    </span>
                </li>
                @foreach (var exam in Model)
                {
                    <li>
                        <ul>
                            <li>
                                <span class="columnName">@exam.Name</span>
                                <span class="deleteOption"><a href="@Url.Action("Delete", "Exam", new { id = exam.Id })" class="delete-link"><img src="~/Images/Icons/delete.png" title="Usuń" class="icon" /></a></span>
                                <span class="deleteOption"><a href="@Url.Action("WriteToFile", "Exam", new { id = exam.Id })"><img src="~/Images/Icons/x.png" title="Ściągnij jako .tex" class="icon" /></a></span>
                            </li>
                        </ul>
                    </li>
                }
            </ul>
        </li>
    </ul>
</div>

<div id="delete-dialog" title="Usuwanie">
    <p>Jesteś pewien, że chcesz to usunąć?</p>
</div>